<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item "><a class="nav-link active" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/">Data</a></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown"
         href="#" role="button" aria-haspopup="true"
         aria-expanded="false">PLC</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">PLC Data</a>
        <a class="dropdown-item" href="#">Address Data</a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>


</nav>

<!--<div class="alert alert-success" role="alert">-->
<!--  <form #pipleForm="ngForm">-->
<!--    <div class="form-group">-->
<!--      <label for="name">Name</label>-->
<!--      <input class="form-control" id="name" type="text" name="name" [(ngModel)]="piple.name">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="age">Age</label>-->
<!--      <input class="form-control" id="age" type="number" name="age" [(ngModel)]="piple.age">-->
<!--    </div>-->
<!--      <button class="btn btn-outline-primary" type="submit" (click)="onCreatePiple()">Submit</button>-->

<!--  </form>-->
<!--</div>-->


<app-app-plc></app-app-plc>
